<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>BinaryBender's Blog</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
<link rel="stylesheet" th:href="@{/css/base.css}" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" />
</head>
<body>
<div class="container">
  <div class="row flex-row top-banner">
    <div class="hidden-xs col-sm-5 col-sm-offset-4 col-md-3 col-md-offset-7 text-right">
      <h1>Binary Bender</h1>
      <h4>Everything changed when the binary nation attacked</h4>
    </div>
    <div class="hidden-xs col-sm-3 col-md-2">
      <img class="img-responsive" th:src="@{/images/website-banner.png}" />
    </div>
    <div class="visible-xs col-xs-6 text-right">
      <h4>Binary Bender</h4>
      <h6><small style="color: black">Everything changed when the binary nation attacked</small></h6>
    </div>
    <div class="visible-xs col-xs-6">
      <img class="img-responsive" src="/images/website-banner.png" />
    </div>
  </div>
	<div layout:fragment="content-body">
	</div>
</div>
<script src="https://cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<th:block layout:fragment="scripts"></th:block>
</body>
</html>