<div class="hidden-xs hidden-sm col-md-3">
  <ul id="affix-panel" class="nav nav-stacked">
    <li><a th:href="@{/}">Blog Posts</a></li>
    <li><a th:href="@{/aboutme}">About Me</a></li>
  </ul>
</div>