<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/frontpage/frontpage">
<head>
<title>BinaryBender's Blog</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/frontpage-blogpost.css}" />
</head>
<body>
    <div layout:fragment="frontpage-content" class="col-xs-12 col-md-9">
      <div th:if='${not #lists.isEmpty(blogposts)}' th:each="blogpost : ${blogposts}" class="blogpost">
        <h4 th:text="${#calendars.format(blogpost.createdDate, 'dd MMM yyyy')}" class="blogpost-date"></h4>
        <h2 class="blogpost-title">
          <a th:href="@{/blogpost/{id}(id=${blogpost.id})}" th:text="${blogpost.title}"></a>
        </h2>
      <p th:utext="${blogpost.content}"></p>
      </div>
      <div th:if='${blogpost != null}' class="blogpost">
        <h4 th:text="${#calendars.format(blogpost.createdDate, 'dd MMM yyyy')}" class="blogpost-date"></h4>
        <h2 class="blogpost-title" th:text="${blogpost.title}">
        </h2>
      <p th:utext="${blogpost.content}"></p>
      </div>
      <div class="row footer-arrows">
        <div th:if="${haveNewerPosts} == true" class="pull-left">
          <a th:href="@{/blog/{newer}(newer=${newerPage})}"><i class="fa fa-fw fa-angle-left"></i> Newer</a>
        </div>
        <div th:if="${haveOlderPosts} == false" class="pull-right">
          <a th:href="@{/blog/{newer}(newer=${olderPage})}">Older <i class="fa fa-fw fa-angle-right"></i></a>
        </div>
      </div>
    </div>
</body>
</html>