<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>BinaryBender's Blog</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
<link rel="stylesheet" th:href="@{/css/base.css}" />
<style>
html, body {
  height: 100%;
}
</style>
</head>
<body>
  <div class="container-fluid full-page-jumbo">
	  <div class="row flex-row full-page-jumbo">
	   <div class="col-xs-offset-5 col-xs-2">
		    <div class="panel panel-info">
		      <div class="panel-body panel-custom-body">
			    <form method="post">
			      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			      <div class="form-group">
			        <label class="control-label">Username</label>
		          <input class="form-control" type="text" name="username"/>
			      </div>
			      <div class="form-group">
			        <label class="control-label">Password</label>
		          <input class="form-control" type="password" name="password"/>
			      </div>
	          <input class="btn btn-default" type="submit" value="Login"/>
			    </form>
			    </div>
			  </div>
			</div>
	  </div>
  </div>
<script src="https://cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>