<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/layout/base-decorator">
<title>BinaryBender's Blog</title>
<head>
<link rel="stylesheet" th:href="@{/css/frontpage.css}" />
</head>
<body>
  <div class="row" layout:fragment="content-body">
    <div layout:replace="frontpage/frontpage-left-panel">
    </div>
    <div layout:fragment="frontpage-content">
    </div>
  </div>
  <script layout:fragment="scripts">
  	var topRowHeight = $('.top-banner').height();
  	$(window).scroll(function() {
  		if ($(window).scrollTop() >= topRowHeight) {
  			$('#affix-panel').css({
  				top: 10,
  				position: 'fixed'
  			});
  		} else {
  			$('#affix-panel').removeAttr("style");
  		}
  	});
  </script>
</body>
</html>