@CHARSET "UTF-8";
.table tbody>tr>td{
	vertical-align: middle;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.nav>li>a:hover {
    background: transparent;
    color: #777;
}
.nav>li>a {
    font-weight: 500;
    font-size: large;
    color: #999;
    letter-spacing: 7px;
    padding: 5px;
}