@CHARSET "UTF-8";
.flex-row {
	align-items: center;
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.flex-row ul {
	line-height: 200%;
}

.full-page-jumbo {
	height: 100%;
}

.error404 {
	font-size: 30em;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.footer-arrows div a {
	text-decoration: none;
	padding-bottom: 20px;
}