@CHARSET "UTF-8";
.nav>li>a:hover {
    background: transparent;
    color: #777;
}
.nav>li>a {
    font-weight: 500;
    font-size: large;
    color: #999;
    letter-spacing: 7px;
    padding: 5px;
}