<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/administration/administration">
<head>
<title>BinaryBender's Blog</title>
</head>
<body>
  <div layout:fragment="administration-content" class="col-xs-9">
    <form th:action="@{/administration/aboutme/html}" method="post">
      <div class="form-group">
        <label class="control-label">About Me HTML</label>
        <textarea class="form-control" name="aboutmeHTML" rows="30" th:if="${aboutmeHTML} != null" th:text="${aboutmeHTML}" style="font-family: monospace"></textarea>
        <textarea class="form-control" name="aboutmeHTML" rows="30" th:if="${aboutmeHTML} == null" style="font-family: monospace"></textarea>
      </div>
      <div class="form-group">
        <div class='col-xs-6'>
          <button class="btn btn-primary form-control" type="submit">Save HTML</button>
        </div>
        <div class="col-xs-6">
          <a class="btn btn-default form-control" th:href="@{/administration/aboutme/content}"><i class="fa fa-pencil fa-fw"></i> Edit Blog Content</a>
        </div>
      </div>
    </form>
  </div>
  <th:block layout:fragment="aboutme-script">
  </th:block>
</body>
</html>