<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/layout/base-decorator">
<head>
<title>BinaryBender's Blog</title>
<link rel="stylesheet" th:href="@{/css/administration.css}" />
</head>
<body>
  <div class="row" layout:fragment="content-body">
    <div layout:replace="administration/administration-left-panel">
    </div>
    <div layout:fragment="administration-content">
    </div>
	  <form id="logout-form" class="hidden" th:action="@{/administration/logout}" method="post">
	    <input type="hidden"
	       name="${_csrf.parameterName}"
	       value="${_csrf.token}"/>
	    <input type="submit" value="Log Out"/>
	  </form>
  </div>
  <th:block layout:fragment="scripts">
    <th:block layout:fragment="stats-script"></th:block>
    <th:block layout:fragment="blogpost-script"></th:block>
    <th:block layout:fragment="createblog-script"></th:block>
    <th:block layout:fragment="aboutme-script"></th:block>
    <th:block layout:fragment="photos-script"></th:block>
    <script>
    $('#logout-button').click(function(e) {
      $('#logout-form').submit();
      e.preventDefault();
    });
    </script>
  </th:block>
</body>
</html>