<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/administration/administration">
<head>
<title>BinaryBender's Blog</title>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs/jq-2.1.4,dt-1.10.10/datatables.min.css"/>
</head>
<body>
	<div layout:fragment="administration-content" class="col-xs-9">
		 <table class="table table-striped table-bordered" id="blogpost-table">
	     <thead>
  	       <tr>
  	        <th>Title</th>
  	        <th>Created Date</th>
  	        <th>Last Modified Date</th>
  	        <th class="text-center">Actions</th>
  	       </tr>
	     </thead>
	    <tbody>
	      <tr th:if='${#lists.isEmpty(blogposts)}'>
	        <td colspan="4">No blogposts yet, click <a th:href="@{/administration/create}">here</a> to create new</td>
	      </tr>
	      <tr th:if='${not #lists.isEmpty(blogposts)}' th:each="blogpost : ${blogposts}">
	        <td th:text='${blogpost.title}'>Title</td>
	        <td th:text='${blogpost.createdDate}'>Created Date</td>
	        <td th:text='${blogpost.lastModifiedDate}'>Last Modified Date</td>
	        <td class="text-center">
	          <div class="btn-group">
	            <a class="btn btn-default" th:href="@{/administration/edit/{id}(id=${blogpost.id})}" title="Edit">
	              <i class="fw fa fa-pencil"></i>
	            </a>
              <a class="btn btn-success" th:if='${blogpost.published} == false' th:href="@{/administration/publish/{id}(id=${blogpost.id})}" title="Publish">
                <i class="fw fa fa-file-text"></i>
               </a>
              <a class="btn btn-warning" th:if='${blogpost.published} == true' th:href="@{/administration/publish/{id}(id=${blogpost.id})}" title="Unpublish">
                <i class="fw fa fa-file-text"></i>
              </a>
	            <a class="btn btn-danger" th:href="@{/administration/delete/{id}(id=${blogpost.id})}" onclick="return confirmDelete()" title="Delete">
	              <i class="fw fa fa-trash"></i>
	            </a>
	          </div>
	        </td>
	      </tr>
	    </tbody>
	  </table>
	  <a class="btn btn-primary" th:href="@{/administration/create}">Create New</a>
	  
  </div>
  <th:block layout:fragment="blogpost-script">
    <script type="text/javascript" src="https://cdn.datatables.net/s/bs/jq-2.1.4,dt-1.10.10/datatables.min.js"></script>
    <script type="text/javascript">
      function confirmDelete() {
        return confirm("Are you sure about deleting this post?");
      }
      
      $('#blogpost-table').dataTable();
    </script>
  </th:block>
</body>
</html>