<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/administration/administration">
<head>
<title>BinaryBender's Blog</title>
</head>
<body>
  <div layout:fragment="administration-content" class="col-xs-9">
    <div id="blogpostContent" th:if="${aboutmeContent} != null" th:utext="${aboutmeContent}"></div>
    <div id="blogpostContent" th:if="${aboutmeContent} == null">
      <p>Enter things about you</p>
    </div>
    <form th:action="@{/administration/aboutme/content}" method="post">
      <input type="hidden" id="blogContentForm" name="aboutmeContent"/>
      <div class="form-group">
        <div class='col-xs-6'>
          <button class="btn btn-primary form-control" type="submit" onclick="submitForm()">Save Content</button>
        </div>
        <div class="col-xs-6">
          <a class="btn btn-default form-control" th:href="@{/administration/aboutme/html}"><i class="fa fa-code fa-fw"></i> Edit HTML</a>
        </div>
      </div>
    </form>
  </div>
  <th:block layout:fragment="aboutme-script">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/tinymce/4.1.2/tinymce.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/tinymce/4.1.2/jquery.tinymce.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/tinymce/4.1.2/plugins/table/plugin.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/tinymce/4.1.2/plugins/link/plugin.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/tinymce/4.1.2/plugins/image/plugin.min.js"></script>
    <script th:inline="javascript">
      tinymce.init({
      selector: '#blogpostContent',
      inline: true,
      menubar: false,
      plugins:[ 'table link image code' ],
      toolbar1: 'undo redo | bold italic underline strikethrough superscript subscript | bullist numlist | link image',
      toolbar2: 'styleselect removeformat | table'
      });
      
      function submitForm() {
        var content = $('#blogpostContent').html();
        $('#blogContentForm').val(content);
      };
    </script>
  </th:block>
</body>
</html>