<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/administration/administration">
<head>
<title>Edit Blog</title>
</head>
<body>
  <div layout:fragment="administration-content" class="col-xs-9">
  <h2 id="blogpostTitle" th:text="${blogpost.title}"></h2>
  <div id="blogpostContent" th:utext="${blogpost.content}">
  </div>
  <form th:object="${blogpost}" th:action="@{/administration/{action}(action=${formAction})}" method="post">
    <input id="blogTitle" type="hidden" th:field="*{title}" />
    <input id="blogContent" type="hidden" th:field="*{content}" />
    <input id="createdDate" type="hidden" th:field="*{createdDate}" />
    <div class="checkbox">
	    <label>
	      <input type="checkbox" th:field="*{published}"/> Publish ?
	    </label>
    </div>
    <button type="submit" class="btn btn-primary pull-right" onclick="submitForm()">Submit</button>
  </form>
  </div>
  <th:block layout:fragment="createblog-script">
  	<script type="text/javascript" src="https://cdn.jsdelivr.net/tinymce/4.1.2/tinymce.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/tinymce/4.1.2/jquery.tinymce.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/tinymce/4.1.2/plugins/table/plugin.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/tinymce/4.1.2/plugins/link/plugin.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/tinymce/4.1.2/plugins/image/plugin.min.js"></script>
    <script th:inline="javascript">
      tinymce.init({
        selector: '#blogpostTitle',
        inline: true,
        toolbar: 'undo redo',
        menubar: false
      });
      
      tinymce.init({
    	selector: '#blogpostContent',
    	inline: true,
    	menubar: false,
      plugins:[ 'table link image code' ],
    	toolbar1: 'undo redo | bold italic underline strikethrough superscript subscript | bullist numlist | link image',
    	toolbar2: 'styleselect removeformat | table'
      });
      
      function submitForm() {
        var title = $('#blogpostTitle').text();
        var content = $('#blogpostContent').html();
        $('#blogTitle').val(title);
        $('#blogContent') .val(content);
      };
    </script>
  </th:block>
</body>
</html>