<div class="col-xs-3">
  <ul class="nav nav-stacked">
    <li><a th:href="@{/administration}">Blog Posts</a></li>
    <li><a th:href="@{/administration/stats}">Statistics</a></li>
    <li><a th:href="@{/administration/photos}">Photos</a></li>
    <li><a th:href="@{/administration/aboutme}">About Me</a></li>
    <li><a th:href="@{/logout}" id="logout-button">Log Out</a></li>
  </ul>
</div>