<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/administration/administration">
<head>
<title>BinaryBender's Blog</title>
</head>
<body>
  <div layout:fragment="administration-content" class="col-xs-9">
    <form class="form-horizontal" th:action="@{/administration/photos/upload}" enctype="multipart/form-data" method="post">
      <div class="form-group">
        <label class="col-xs-2 control-label">Preview</label>
        <div class="col-xs-6">
          <img class="img-responsive img-thumbnail" id="previewImage" src="http://placehold.it/600x600"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-3">
          <input name="file" id="hiddenFileSelector" class="hidden" type="file" accept="image/*" onchange="showPreview(this.files);"/>
          <input type="submit" class="btn btn-default btn-block" value="Upload"/>
        </div>
        <div class="col-xs-3">
          <input class="hidden" type="file" accept="image/*" />
          <button class="btn btn-default btn-block" onclick="selectFile(event);">Select File</button>
        </div>
      </div>
    </form>
    <div class="row" th:if="${not #lists.isEmpty(photoList)}">
      <div class="col-xs-4" th:each="photo : ${photoList}">
        <div class="panel panel-default">
          <div class="panel-heading" th:text="${photo.path}"></div>
          <img class="img-responsive" th:id="${photo.id}" th:src="@{/photos/{path}(path = ${photo.path})}"/>
          <a class="btn btn-default btn-block" th:href="@{/administration/photos/delete/{id}(id = ${photo.id})}" onclick="return confirmDelete();">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <th:block layout:fragment="photos-script">
	  <script th:inline="javascript">
	    /*<![CDATA[*/
	    function selectFile(event) {
	      $('#hiddenFileSelector').click();
	      event.preventDefault();
	    }
	    function showPreview(files) {
	      if (files.length > 0) {
	        var img = $('#previewImage');
	        var url = window.URL.createObjectURL(files[0]);
	        img.attr("src", url);
	      }
	    }
	    function confirmDelete() {
	      return confirm("Are you sure about deleting this post?");
	    }
	    /*]]>*/
	  </script>
  </th:block>
</body>
</html>